<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="resources/css/style.css">
</head>
<body><header class="main-header">
    <div class="logo">
        <a href="/">
            <img src="resources/src/images/tracetexIcon.png" alt="tracetexIcon" class="logo-img">
        </a>
    </div>
</header>
</body>
<body>
    <div class="login-form">
        <h1>Login</h1>
        <form action="/auth" method="post">
            <input type="text" name="user" id="user" placeholder="Usuario" required>
            <input type="password" name="pass" id="pass" placeholder="Contraseña" required>
            <input type="submit" class="btn-login" value="Ingresar">
        </form>
        <a href="register" class="btn-register">Registrar</a>
    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <% if (typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            }).then(() => {
                window.location = '/<%= ruta %>';
            });
        </script>
    <% } %>
    
       <!-- Footer -->
    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2024 Tracetex. Todos los derechos reservados.</p>
            <ul class="footer-links">
                <li><a href="/privacy">Política de Privacidad</a></li>
                <li><a href="/terms">Términos de Servicio</a></li>
            </ul>
        </div>
    </footer>

    
</body>
</html>